.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-links {
  list-style-type: none; /* Remove bullets */
}
@import '~antd/dist/antd.css';

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}

.content {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 5%;
  position: relative;

  /* background: url(images/hd4.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 900px; */
}

.ant-card-head-title {
  display: block;
  white-space: normal;
}

.imageLog {
  background-image: url('./images/logCost.jpg');
  width: 24.99999%;
  border-radius: 20px;
  margin: auto;
  opacity: '0.8';
}

@media only screen and (max-width: 700px) {
  .imageLog {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .imageLog {
    width: 60%;
  }
}

.iconItems.ant-avatar {
  display: inline;
}
.itemList {
  display: block;
  max-width: 50%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 2500px) and (min-width: 1500px) {
  .itemList {
    max-width: 30%;
  }
}

@media only screen and (max-width: 500px) {
  .itemList {
    max-width: 80%;
  }
}

.itemList-history {
  display: block;
  max-width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 2500px) and (min-width: 1500px) {
  .itemList-history {
    max-width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .itemList-history {
    max-width: 100%;
  }
}

.my_padding {
  padding: 20px;
}

@media only screen and (max-width: 2500px) and (min-width: 1500px) {
  .my_padding {
    padding: 100px 500px 500px 500px;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 500px) {
  .my_padding {
    padding: 100px 300px 300px 300px;
  }
}

.ant-card-body {
  padding: 20px;
}

.ant-list-lg .ant-list-item {
  padding: 10px 0px 0px 0px;
}

.ant-input-number {
  width: 110px;
}

.ant-radio-wrapper {
  display: block;
  text-align: left;
}

.titleStyle {
  background: linear-gradient(to bottom left, #ff9933 0%, #cc3399 100%);
  font-size: large;
  letter-spacing: 3px;
  font-weight: bolder;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
  font-style: oblique;
  margin: 20px;
}

.ant-mentions > textarea,
.ant-mentions-measure {
  padding: 4px;
  min-height: 50px;
}

.radioStyle {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  color: grey;
}

.ant-tag {
  margin: 0px 5px;
}

.ant-list-sm .ant-list-item {
  padding: 10px 0px;
}
